*{
    margin: 0;
    padding: 0;
    font-family: Georgia, serif;
    box-sizing: border-box;
}

body{
    background: #fff;
    color: #000000;
}
html{
    scroll-behavior: smooth;
}

#header{
    width: 100%;
    height: 100vh;
    background-image: url(images/background2.png);
    background-size: cover;
    background-position: center;
  
}
#about img{
    width: 450px;
    height: 600px;
}

.container{
    padding: 30px 30px;
    width: 100%;

}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    width: 140px;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a{
    color: black;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}

nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: pink;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

nav ul li a:hover::after{
    width: 100%;
}

.header-text{
    margin-top: 17%;
    font-size: 30px;
    padding-left: 120px;
}

.header-text h1{
    font-size: 50px;
    margin-top: 20px;
}

.header-text h1 span{
    color: rgb(254, 219, 225);
}


/* -----------about------------ */

#about{
    padding: 80px 0;
    padding-left: 100px;
    background-color: rgb(249, 233, 235);
    /*rgb(250, 235, 237);*/
}


.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col-1{
    flex-basis: 35%;
}

.about-col-1 img{
    width: 100%;
    border-radius: 15px;
    margin-left: 10px;
}

.about-col-2{
    flex-basis: 60%;
   
}

.about-col-2 p{
    font-size: 17px;
    margin-right: 150px;
   
}
.tab-contents li{
    font-size: 17px;
}

#education p{
    font-size: 12px;
}

#experience p{
    font-size: 12px;;
}


.sub-title{
    font-size: 60px;
    font-weight: black;
    margin-bottom: 30px;;
}

.tab-titles{
    display: flex;
    margin: 20px 0 40px;
}

.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}

.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background :#c86484;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}

.tab-links.active-link::after{
   width: 50%;
}
.tab-contents ul li{
    list-style: none;
    margin: 10px 0;

}
.tab-contents ul li span{
    color: #c86484;
    font-size: 14px;
}

.tab-contents{
    display: none;
}

.tab-contents.active-tab{
    display: block;
}
/* -----------------services-----------------*/

#services{
    padding: 200px 150px 50px 150px;
}

#services .container{
    border: solid 10px rgb(249, 233, 235) ;
}

.sub-title1 {
    text-align: center;
    font-size: 60px;
    font-weight: black;
    margin-bottom: 30px;;
}

.services-list{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.services-list div{
    background:rgb(246, 246, 239);
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 10px;
    transition: background 0.5s, transform 0.5s;
}

.services-list div h2{
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 15px;
}

.services-list div a{
    text-decoration: none;
    color: rgb(66, 28, 34);
    font-size: 12px;
    margin-top: 20px;
    display: inline-blockß;
    font-weight: 100;
}

.services-list div:hover{
    background-color: lightpink;
    transform: translateY(-10px);
}

.services-list div i{
    font-size: 50px;
    margin-bottom: 30px;
}



/*--------- portfolio --------------*/

#portfolio{
    padding: 200px 150px 200px 150px;
    margin-top: 30px 30px 30px 30px;
}
#portfolio .container{
    
    border: solid 10px rgb(249, 233, 235) ;
   
}
.work-list{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
    color:white;
    
}

.work{
    border-radius: 20px;
    position: relative;
    overflow: hidden;
}

.work img{
    width: 100%;
    border-radius: 20px;
    display: block;
    transition: tranform 0.5s;
}

.layer{
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0,0,0,0.6), #ff004f);
    border-radius: 20px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transition: height 0.5s;
}

.layer h3{
    font-weight: 900;
    margin-bottom: 20px;
}

.layer a{
    margin-top: 20px;
    color: #ff004f;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background: #fff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
 
}

.work:hover img{
    transform: scale(1.1);
}

.work:hover .layer{
    height: 100%;
}

.btn{
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 3px solid #c86484;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: #000000;
    transition: background 0.5s;
}

.btn:hover{
    background: #c86484;
    color: white;
}

/*-----------------Contact----------------------*/
#contact .container{
    border-top: solid 10px rgb(249, 233, 235) ;
    border-bottom: solid 10px rgb(249, 233, 235) ;
   
}
.contact-left{
    padding: 10px 100px 40px 130px;
    flex-basis: 40%;
}
.contact-left h1{
    font-size: 50px;
}
.contact-right{
    flex-basis: 60%;
    padding-right: 150px;
}

.contact-left p{
    margin-top: 30px;
}

.contact-left p i{
    color:#000000;
    margin-right: 10px;
    font-size: 25px;;
}
.social-icons{
    margin-top: 30px;  
}

.social-icons a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: black;
    display: inline-block;
    transition: transform 0.5s;
}

.social-icons a:hover{
    color:#ff004f;
    transform: translateY(-5px);
}

.btn.btn2{
    display: inline-block;
}



.contact-right form{
    width: 100%;
}

form input, form textarea{
    width: 100%;
    border: solid rgb(246, 214, 220);
    outline: none;
    background: white;
    padding: 15px;
    margin: 15px;
    color: black;
    font-size: 18px;
    border-radius: 6px;
}

form .btn2{
    margin-left: 13px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;

}

.copyright{
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background: pink;
    font-weight:300 ;
    margin-top: 200px;
}
.copyright i{
    color: red;
}

/*-------------css for small screens-------------------*/

nav .fa-solid{
    display: none;
}
@media only screen and (max-width: 600px)
{
    #header{
        background-image: url(images/phone.png);
    }
    .header-text{
        margin-top:20%;
        margin-right: 30%;
        font-size: 12px;;
    }
    .header-text h1{
        font-size:16px;
    }


    nav .fa-solid{
        display: block;
        font-size: 25px;
    }

    nav ul{
        background-color: lavender;
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
       transition: right 0.5s;

    }
    nav ul li{
        display: block;
        margin: 25px;
    }

    #about{
        padding-left: 10px;
        padding-right: 10px;
    }
    #about .container{
       padding-left: 20px;
    background-color: pink;
    }

      .about-col-1 img{
       margin-left: 110px;
        
      }
      .tab-links.active-link::after{
        width: 20%;
        margin-left: 40px;
      }

    #about .about-col-2{
        text-align: center;
        flex-basis: 100%;
        max-width: 100%;

    }

    #about .about-col-2 p{
        padding: 0%;
        margin: 0px;
        width: 100%;
    }
 
    

    #about .tab-links{
        max-width: 150%;
        margin-right: 10px;
    }

    nav ul .fa-solid{
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }

    .sub-title{
        font-size: 20px;
    }

    #about img{
        width: 170px;
        height: 200px;
    }
    .about-col-1, .about-col-2{
        flex-basis: 100%;
       
    }
    .about-col-1{
        margin-bottom: 20px;
        margin-right: 0px;
    }
    .about-col-2{
        font-size: 10px;
    
    }

    .about-col-2 p{
        padding-left: 50px;
        flex-basis: 100%;
        font-size: 10px;
        text-align: center;
    }
    .tab-links{
        font-size: 1px;
        margin-right: 0px;
    }

    .contact-left, .contact-right{
        flex-basis: 100%;

    }


    .contact-left{
        margin: 0px;
        padding: 0px;
        text-align: center;
    }

    .contact-right{
        padding: 0px;
        margin: 0px;
    }
    #services{
        padding: 0px;
    }

    #portfolio{
        padding: 0px;
    }

    #contact{
        padding: 0px;
        margin: 0px;
    }


  
    .copyright{
        font-size: 14px;
    }
}

